<div class="centered-content">
    <div class="login-box">
        <h1 class="title has-text-primary">Login</h1>
        <form>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input #emailInput class="input has-background-light has-text-black" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input #pwInput class="input has-background-light has-text-black" [type]="showPassword ? 'text' : 'password'" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right is-clickable" (click)="togglePasswordVisibility()">
                        <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                </p>
            </div>
        </form>
        <br>
        <div class="field is-pulled-right">
            <p class="control">
                <button class="button is-primary has-text-white is-medium" (click)="onLoginButtonClicked(emailInput.value, pwInput.value)">
                    Login
                </button>
            </p>
        </div>
    </div>
</div>